# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [4]:
!pip install sqlalchemy==1.4.6 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [5]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [41]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'RaulPlazaCartagena'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [7]:
if not database_exists(engine.url):
    create_database(engine.url)

In [9]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql("SPACEXTBL", engine, if_exists='replace')

In [22]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058,1
86,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058,1
87,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058,1
88,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857,1
89,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [17]:
#Rellena la variable query con tu consulta
query = """  select distinct(LaunchSite) from SPACEXTBL;   """
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [20]:
query = """  select * from SPACEXTBL where LaunchSite like 'CCS%' limit 5 """
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
4,5,6,2014-01-06,Falcon 9,3325.000000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,Thaicom,1,0,B1005,-80.577366,28.561857,0

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [29]:
query = """  select sum(PayloadMass) from SPACEXTBL where Customers = 'NASA (CRS)' """
df  = pd.read_sql(query, con = engine )
df

   sum(PayloadMass)
0           47094.7

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [30]:
query = """  select avg(PayloadMass) from SPACEXTBL where Serial like '%B1%' """
df  = pd.read_sql(query, con = engine )
df

   avg(PayloadMass)
0       6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [34]:
query = """  select Date from SPACEXTBL where LandingOutcome = 'TRUE RTLS' Order by Date limit 1 """
df  = pd.read_sql(query, con = engine )
df

         Date
0  2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [35]:
query = """  select Serial from SPACEXTBL where LandingOutcome = 'TRUE ASDS' and PayloadMass between 4000 and 6000 """
df  = pd.read_sql(query, con = engine )
df

  Serial
0  B1022
1  B1026
2  B1021
3  B1031
4  B1046
5  B1046
6  B1059

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [51]:
query = """
select count(*) as Num_Launchs, LandingOutcome
from SPACEXTBL
where LandingOutcome like '%True%' 
or LandingOutcome like '%False%'
Group by LandingOutcome
"""
df  = pd.read_sql(query, con = engine )
df

   Num_Launchs LandingOutcome
0            6     False ASDS
1            2    False Ocean
2            1     False RTLS
3           41      True ASDS
4            5     True Ocean
5           14      True RTLS

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [54]:
query = """  SELECT Serial, PayloadMass
FROM SPACEXTBL
WHERE PayloadMass = (SELECT MAX(PayloadMass) FROM SPACEXTBL)
LIMIT 1 """
df  = pd.read_sql(query, con = engine )
df

  Serial  PayloadMass
0  B1048      15600.0

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [56]:
query = """  select LandingOutcome, Serial, LandingPad from SPACEXTBL where Class = 0 """
df  = pd.read_sql(query, con = engine )
df

   LandingOutcome Serial                LandingPad
0       None None  B0003                      None
1       None None  B0005                      None
2       None None  B0007                      None
3     False Ocean  B1003                      None
4       None None  B1004                      None
5       None None  B1005                      None
6       None None  B1008                      None
7       None None  B1011                      None
8     False Ocean  B1010                      None
9      False ASDS  B1012  5e9e3032383ecb761634e7cb
10     False ASDS  B1015  5e9e3032383ecb761634e7cb
11      None None  B1016                      None
12      None ASDS  B1018  5e9e3032383ecb6bb234e7ca
13     False ASDS  B1017  5e9e3033383ecbb9e534e7cc
14     False ASDS  B1020  5e9e3032383ecb6bb234e7ca
15      None ASDS  B1028  5e9e3032383ecb6bb234e7ca
16      None None  B1030                      None
17      None None  B1034                      None
18      None None  B1037                      None
19      None None  B1044                      None
20      None None  B1041                      None
21      None None  B1039                      None
22      None None  B1040                      None
23      None None  B1045                      None
24     False RTLS  B1050  5e9e3032383ecb267a34e7c7
25      None None  B1054                      None
26      None None  B1047                      None
27      None None  B1046                      None
28     False ASDS  B1056  5e9e3032383ecb6bb234e7ca
29     False ASDS  B1048  5e9e3032383ecb6bb234e7ca

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [66]:
query = """  select Mission_Outcome from SPACEXTBL where Date between '2010-06-04' and '2017-03-20' order by Date desc"""
df  = pd.read_sql(query, con = engine )
df

    Mission_Outcome
0                 1
1                 1
2                 1
3                 0
4                 1
5                 1
6                 1
7                 1
8                 1
9                 1
10                1
11                1
12                0
13                1
14                1
15                1
16                1
17                1
18                1
19                1
20                1
21                1
22                1
23                1
24                1
25                1
26                1
27                1